* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100vw;
  animation: theme 21s linear infinite;
}

.page::after,
.page::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  animation: background 90s linear infinite;
}

.page::after {
  left: 15vw;
}

.page::before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}

@keyframes theme {
  0% {
    background: #c3dcfa;
  }

  16% {
    background: #a9faa3;
  }

  33% {
    background: #fbdba4;
  }

  50% {
    background: #f4f798;
  }

  66% {
    background: #fac5d0;
  }

  83% {
    background: #d0adf6;
  }

  100% {
    background: #daa5f9;
  }
}

@keyframes background {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main_container {
  max-width: 50em;
  margin: 0 auto;
  padding: 3em 5em 3em 7em;
  background-color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 0.2em;
  border-right: 0.1em solid black;
  width: 21ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.border-bottom {
  border-bottom: 2px solid black;
  margin-left: -2em;
  padding-left: 2em;
}

/*.border-bottom::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  bottom: -5px;
  right: 0px;
}*/

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #3b373b;
}

.calibri-18 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #3b373b;
}

.calibri-16 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #5a525b;
}

a {
  text-decoration: none;
}

.experience_list {
  list-style: inside;
  font-size: 14px;
  color: #3b373b;
}

.person_container,
.education_container,
.experience_container,
.skills_container {
  padding-bottom: 3em;
  border-left: 3px solid black;
  position: relative;
}

.container {
  padding-left: 70px;
}

.skills_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}
.skills_img {
  padding-right: 2em;
  width: 6em;
}

.info_container {
  padding-top: 0.5em;
}

.experience_list {
  padding-top: 0.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.img_icon {
  padding-right: 0.7em;
}

.img_container {
  position: absolute;
  left: -3em;
  top: 0em;
}

.left {
  position: absolute;
  left: -0.3em;
  top: 0em;
}

.img_logo {
  background-color: #fff;
}

@media (max-width: 1200px) {
  .main_container {
    margin: 0px 225px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 34px;
    padding-bottom: 0.2em;
    border-right: 0.1em solid black;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(21, end), blink-caret 0.5s step-end infinite alternate;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
  }

  .skills_img {
    padding-right: 1em;
    padding-top: 0.5em;
    width: 3.5em;
    height: 3em;
  }
}
@media (max-width: 576px) {
  .main_container {
    margin: 0 auto;
  }
}
